*, *:before, *:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

*:before,
*:after{
	content: " ";
	display: table;
}

*:after{
	clear: both;
}

*{
	-webkit-transition: all ease-in-out .2s;
	   -moz-transition: all ease-in-out .2s;
		 -o-transition: all ease-in-out .2s;
			transition: all ease-in-out .2s;

	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

html, body{
	width: 100%;
	height: 100%;
}

body, h1, p{
	margin: 0;
	padding: 0;
}

body{
	position: relative;
	min-width: 320px;
	background-color: #7d7d7d;
	font-family: 'Indie Flower', cursive;
	color: #fff;
	cursor: default;
	min-height: 100%;
	height: auto !important;

	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

header{
	padding: 10px 0;
	background-color: #747474;
}

header h1,
#game-complete{
	text-align: center;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, .6);
}

header span{
	font-size: 150%;
	line-height: 100%;
	text-transform: uppercase;
}

.game-number-inner,
.parent-hover{
	-webkit-transition: opacity ease-in-out .4s;
	   -moz-transition: opacity ease-in-out .4s;
		 -o-transition: opacity ease-in-out .4s;
			transition: opacity ease-in-out .4s;
}

section,
#game-container > div{
	-webkit-transition: opacity ease-in-out 1s;
	   -moz-transition: opacity ease-in-out 1s;
		 -o-transition: opacity ease-in-out 1s;
			transition: opacity ease-in-out 1s;
}

#game-complete,
#help{
	-webkit-transition: opacity ease-in-out 1.2s;
	   -moz-transition: opacity ease-in-out 1.2s;
		 -o-transition: opacity ease-in-out 1.2s;
			transition: opacity ease-in-out 1.2s;
}

#game-container{
		-webkit-transition: none;
		   -moz-transition: none;
			 -o-transition: none;
				transition: none;
}

section{
	position: relative;
	max-width: 400px;
	width: 100%;
	height: auto;
	margin: 0 auto 65px;
	opacity: 1;
	z-index: 100;
}

#game-complete{
	position: absolute;
	width: 100%;
	left: 0;
	top: 25%;
	padding: 40px 0;
	opacity: 1;
	background-color: #626262;
	text-transform: uppercase;
	z-index: 100;
}

#game-greetings{
	font-size: 300%;
	line-height: 1.8;
}

#game-greetings br{
	display: none;
}

#game-time{
	font-size: 200%;
}

input[type="button"]#game-reload{
	margin-top: 20px;
	padding: 5px 10px;
	cursor: progress;
}

#game-greetings,
#game-time{
	margin-bottom: 20px;
}

#game-container,
.game-number-inner{
	border: 2px solid #fff;
	border-radius: 4px;
}

#game-container{
	width: 100%;
	height: 400px;
	font-size: 0;
	background-image: url('time-is-up.png');
	background-size: 70%;
	background-position: 70% center;
	background-repeat: no-repeat;
	background-color: #626262;
}

#game-container.no-image{
	background: none;
	background-color: #626262;
}

.game-number{
	display: inline-block;
	position: relative;
	width: 25%;
	height: 25%;
	padding: 1px;
	opacity: 1;
	cursor: not-allowed;
}

.game-number-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 140%;
	background-color: #7d7d7d;
	cursor: not-allowed;
}

.parent-hover{
	cursor: pointer;
}

.parent-hover:hover{
	background-color: #454545;
}

.game-number-inner span{
	display: block;
	width: 100%;
	line-height: 1.55;
	font-size: 60px;
	text-align: center;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, .6);
}

span#num-16{
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	opacity: 0;
	cursor: default;
}

#timer{
	margin: 20px 0;
	min-height: 32px;
}

#help{
	margin-top: 20px;
}

#timer p,
#timer,
#help p,
footer p{
	text-align: center;
}

#timer p{
	font-size: 130%;
}

#timer b{
	display: inline-block;
}

#timer span,
#game-time span{
	display: inline-block;
	font-family: 'Courier New';
	color: #3fff83;
	font-weight: 600;
}

#timer span{
	font-size: 178%;
}

#help span{
	display: inline-block;
	margin-left: 10px;
	text-decoration: underline;
	font-weight: 600;
	cursor: progress;
}

#help span:hover{
	text-shadow: 0px 1px 10px rgba(40, 40, 40, 1);
}

#help span:active,
#help span:focus{
	text-shadow: 0px 1px 10px rgba(10, 10, 10, 1);
}

#game-time span{
	font-size: 90%;	
}

#blink{
	position: relative;
	bottom: 2px;
}

.blink{
	-webkit-animation: blink 1s linear infinite;
			animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
	100%{
		color: rgba(34, 34, 34, 0);
	}
}

@keyframes blink {
	100%{
		color: rgba(34, 34, 34, 0);
	}
}

#help p,
footer p{
	font-size: 120%;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #000;
}

@media (max-width: 400px){
	#game-greetings br{
		display: block;
	}
}

@media (max-width: 400px){
	body{
		font-size: 80%;
	}

	section{
		max-width: 320px;
	}

	#game-container{
		height: 320px;
	}

	#game-greetings{
		font-size: 250%;
	}
}

.hide{
	display: none !important;
}

.opacity-low{
	opacity: 0 !important;
}

.z-index-low{
	z-index: 0 !important;
}

.cursor-low,
.game-number.target-cell.empty-cell.opacity-low.cursor-low,
.game-number.target-cell.empty-cell.opacity-low.cursor-low .game-number-inner,
.game-number.target-cell.empty-cell.opacity-low.cursor-low .game-number-inner span{
	cursor: not-allowed !important;
}

.empty-cell{
	cursor: default !important;
}

.empty-cell .game-number-inner{
	border: 2px solid transparent;
	background-color: #626262;
	font-size: 0;
	opacity: 0;
	cursor: default;
}

.target-cell{
	cursor: pointer !important;
}

.attention{
	color: #fff;
	text-shadow: 3px 3px 5px rgba(255, 114, 5, 1), 0px 1px 11px rgba(0, 0, 0, 1);
}

#help span.attention:hover{
	text-shadow: 3px 3px 5px rgba(255, 114, 5, 1), 0px 1px 17px rgba(40, 40, 40, 1);
}

#help span.attention:active,
#help span.attention:focus{
	text-shadow: 3px 3px 5px rgba(255, 114, 5, 1), 0px 1px 13px rgba(10, 10, 10, 1);
}